/** global rules **/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-background-color: #0B0D17;
    --main-text-color: #FFFFFF;
    --second-text-color: #D0D6F9;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Bellefair';
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul a{
    text-decoration: none;

}
hr{
    border: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* navbar */
.landing-page{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 667px;
}

.landing-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    background-image: url('../img/Bitmap.jpg'); 
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 96px;
    padding: 10px 0 0 20px;
    position: relative;
}
.left-side{
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    position: relative;
}
.left-side img{
    position: absolute;
    left: 0;
    top: 0;
}
.cricle{
    width: 48px;
    height: 48px;
    background-color: var(--main-text-color);
    border-radius: 25px;
}
.midlle-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 96px;
    width: 33%;
    margin-right: -5%;
}
.midlle-side hr{
    border-top: solid 1px #D0D6F9;
    width: 100%;
    flex-shrink: 0;
}
.right-side{
    width: 60%;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 999;
}
.right-side::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 38, 38, 0.5); 
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    z-index: -1;
}
.right-side ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.right-side ul li{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.right-side ul li .hr{
    width: 0;
    border-top: solid 4px var(--second-text-color);
    position: absolute;
    bottom: -47px;
    transition:  0.2s ease; 
    text-align: center;
    margin-left: 5%;
}
.right-side ul li .active{
    width: 100%;
    border-top: solid 4px var(--main-text-color);
    position: absolute;
    bottom: -47px;
    transition:  0.2s ease; 
    display: flex;
    margin-left: 5px;
}
.right-side ul li:hover .hr{
    width: 100%;
}
.right-side ul li a{
    color: var(--main-text-color);
    word-spacing: 6px;
    font-size: 16px;
}
.side-lise{
    height: 1024px;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80%;
    padding-left: 30px;
    z-index: 999;
}
.side-lise::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 38, 38, 0.5); 
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    z-index: -1;
}
.side-lise .exit{
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 25px;
    height: 25px;
    color: var(--second-text-color);
    text-decoration: none;
    position: absolute;
    top: 5%;
    right: 10%;
}
.icon-list{
    position: absolute;
    right: 20px;
    top: 40px;
    display: none;
    

}
.icon{
    width: 28px;
    height: 5px;
    background-color: var(--main-text-color);
    margin-bottom: 5px;
    border-radius: 14px;
}
.side-lise .side-ul{
    height: 68%;
}
.side-lise .sub-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 230px;
    margin-bottom: 70%;

}
.side-lise .sub-menu li a{
    color: var(--main-text-color);
    word-spacing: 6px;
    font-size: 16px;
}


@media (max-width: 880px){
    .midlle-side {
        width: 30%;
        margin-right: -5%;
    }
}
@media (max-width: 768px){

    .landing-page::before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        background-image: url('../img/Bitmap-2.jpg'); 
        background-size: cover; 
        background-position: center;
        width: 100%;
        height: 100%;
        z-index: -1; 
    }
    nav{
        padding-top: 0;
    }
    .midlle-side hr{
        display: none;
    }
    .right-side ul{
        padding: 0 10px 0 0;
    }
    .right-side ul li a{
        font-size: 14px;
    }
}
@media (max-width: 630px){
    .right-side ul li a{
        font-size: 12px;
    }
}
@media (max-width: 568px){
    .right-side{
        display: none;
    }
    .icon-list{
        display: block;
    }

    .side-lise ul .sub-menu{
        width: 254px;
    }
}
/* landing page */
.landing-page .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;   
    height: 70%; 
}
.landing-page .container .landing-content{
    width: 50%;
}

.landing-page .container .landing-content .content-box .frist-p{
    color: var(--second-text-color);
    font-size: 28px;
}
.landing-page .container .landing-content .content-box h1{
    color: var(--main-text-color);
    font-size: 150px;
    margin: 20px 0 20px;
    font-weight: 400;
}
.landing-page .container .landing-content .content-box .second-p{
    color: var(--second-text-color);
    font-size: 18px;
    width: 85%;
    line-height: 32px;
}
.landing-page .container .down-sec{

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-page .container .landing-button{
    width: 0;
    height: 0;
    border-radius: 207px;
    background-color: rgba(97, 97, 97, 0.7);
    transition: 0.4s ease;
    position: absolute;
    z-index: -1;
}

.landing-page .container button{
    width: 274px;
    height: 274px;
    border: none;
    border-radius: 137px;
    color: var(--main-background-color);
    font-size: 32px;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.landing-page .container .down-sec:hover .landing-button{
    width: 384px;
    height: 384px;
}
@media (max-width: 768px){
    .landing-page{
        height: 1024px;
    }
    .landing-page .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;   
        height: 70%; 
    }
    .landing-page .container .landing-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .landing-page .container .landing-content .content-box .frist-p{
        font-size: 20px;
        text-align: center;
    }
    .landing-page .container .landing-content .content-box h1{
        letter-spacing: 4px;
        margin: 15px 0 15px;
        font-weight: 400;
    }
    .landing-page .container .landing-content .content-box .second-p{
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        width: 100%;
    }
    .landing-page .container .down-sec{
        margin-bottom: -30%;
        height: 50%;
        width: 50%;
    }
    .landing-page .container button{
        width: 242px;
        height: 242px;
        border-radius: 121px;
        font-size: 32px;
    }
    .landing-page .container .down-sec:hover .landing-button{
        width: 334px;
        height: 334px;
        border-radius: 167px;
    }
}
@media (max-width: 568px){
    .landing-page .container .landing-content .content-box h1{
        font-size: 100px;
        margin: 30px 0 30px;
    }
    .landing-page .container .landing-content .content-box .second-p{
        font-size: 15px;
        width: 150%;
        margin-left: -23%;
    }
    .landing-page .container .down-sec{
        margin-bottom: -25%;
    }
    .landing-page .container button{
        width: 220px;
        height: 220px;
        border-radius: 110px;
        font-size: 32px;
    }
    .landing-page .container .down-sec:hover .landing-button{
        width: 334px;
        height: 334px;
        border-radius: 167px;
    }
}
@media (max-width: 568px){
    .landing-page .container .landing-content .content-box .second-p{
        font-size: 15px;
        width: 130%;
        margin-left: -13%;
    }
}
@media (max-width: 428px){
    .landing-page .container .landing-content .content-box .frist-p{
        font-size: 16px;
    }
    .landing-page .container .landing-content .content-box h1{
        font-size: 80px;
        margin: 30px 0 30px;
    }
    .landing-page .container .landing-content .content-box .second-p{
        font-size: 15px;
        width: 130%;
        margin-left: -14.5%;
    }
    .landing-page .container button{
        width: 190px;
        height: 190px;
        border-radius: 95px;
        font-size: 20px;
    }
    .landing-page .container .down-sec:hover .landing-button{
        width: 300px;
        height: 300px;
        border-radius: 150px;
    }
}
@media (max-width: 368px){
    .landing-page .container .landing-content .content-box .second-p{
        font-size: 15px;
        width: 110%;
        margin-left: -5%;
    }
    .landing-page .container button{
        width: 150px;
        height: 150px;
        border-radius: 75px;
        font-size: 20px;
    }
    .landing-page .container .down-sec:hover .landing-button{
        width: 280px;
        height: 280px;
        border-radius: 140px;
    }
}
/* destination page */
.destination{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.destination::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    background-image: url('../img/detination-bitmap.jpg'); 
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.slider-container {
    position: relative;
    width: 100%;
    height: 1024px;
}
.slider-container .container {
    position: absolute;
    top: -100%;
    left: 8%;
    right: 8%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 84%;
}
.slider-container .activee {
    opacity: 1;
    top: 2%;

}

.destination .destination-left-side{
    width: 50%;
    
}
.destination .destination-left-side p{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    color: var(--main-text-color);
    font-size: 38px;
    word-spacing: 8px;
    width: 100%;
}
.destination .destination-left-side p .number{
    font-size: 38px;
    margin-right: 10px;
    color: var(--second-text-color);
    filter: brightness(50%);
}
.destination .destination-left-side img{
    width: 445px;
    margin-left: 0px;
    margin-top: 15%;
}
.destination .destination-right-side{
    width: 50%;
    margin-left: 15%;
}
.destination  .detination-navbar{
    width: 100%;
    margin-bottom: -6%;
}
.destination .detination-navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 20%;
    position: absolute;
    top: 25%;
    right: 24%;
    z-index: 999;
}
.destination .detination-navbar ul li{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.destination .detination-navbar ul li a{
    color: var(--main-text-color);
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
}
.destination  .detination-navbar li .hr{
    width: 0;
    border-top: solid 4px var(--second-text-color);
    position: absolute;
    bottom: -10px;
    transition:  0.2s ease; 
    text-align: center;
}
.destination  .detination-navbar ul li .active{
    width: 18%;
    border-top: solid 4px var(--main-text-color);
    position: absolute;
    bottom: -10px;
    transition:  0.2s ease; 
    display: flex;
}
.destination  .detination-navbar li:hover .hr{
    width: 18%;
}

.destination .destination-right-side .content-box h1{
    color: var(--main-text-color);
    font-size: 100px;
    font-weight: 400;
}
.destination .destination-right-side .content-box p{
    color: var(--second-text-color);
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    width: 100%;
    margin-top: -8%;
}
.destination .destination-right-side .card-hr{
    width: 100%;
    border-top: solid 1px var(--second-text-color);
    margin: 60px 0 30px;
    filter: brightness(40%);
}
.destination .destination-right-side .number-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 62%;
}
.destination .destination-right-side .number-box .number-card .header{
    color: var(--second-text-color);
    font-size: 16px;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 10px;
}
.destination .destination-right-side .number-box .number-card .describtion{
    color: var(--main-text-color);
    font-size: 28px;
    font-weight: 200;
}
@media (max-width: 1168px){
    .destination .detination-navbar ul{
        width: 30%;
        top: 20%;
        right: 10%;
    }
}
@media (max-width: 1114px){
    .destination .detination-navbar ul{
        width: 30%;
        top: 17%;
        right: 13%;
    }
    .destination .destination-left-side{
        height: 80%;
        width: 40%;
    }
    .destination .destination-left-side img{
        width: 300px;
    }
    .destination .destination-left-side p  {
        font-size: 28px;
    }
    .destination .destination-left-side p .number {
        font-size: 28px;
    }
    .destination .destination-right-side{
        height: 80%;
        width: 40%;
    }
    .destination .destination-right-side .content-box h1{
        font-size: 80px;
    }
    .destination .destination-right-side .content-box p{
        width: 100%;
        font-size: 16px;
    }
    .destination .destination-right-side .number-box{
        width: 100%;
    }
}
@media (max-width: 768px){
    .destination{
        position: relative;
        width: 100%;
        height: 1300px;
    }
    .destination::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../img/detination-bitmap-2.jpg'); 
        background-size: cover; 
        background-position: center;
        width: 100%;
        height: 100%;
        z-index: -1; 
    }
    .describtion .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .destination .destination-left-side p{
        font-weight: 200;
        font-size: 38px;
        word-spacing: 8px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .destination .destination-left-side p .number{
        font-size: 38px;
    }
    .destination .destination-left-side img{
        width: 300px;
        margin-left: 0;
        margin-top: 5%;
        margin-bottom: 50px;

    }
    .destination .destination-left-side{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .destination .destination-right-side{
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .destination  .detination-navbar{
        width: 100%;
        height: 50%;
    }
    .destination .detination-navbar ul{
        width: 50%;
        top: 56%;
        right: 25%;
    }
    .destination .destination-right-side .content-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .destination .destination-right-side .content-box h1{
        font-size: 80px;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 60px;
    }
    .destination .destination-right-side .content-box p {
        text-align: center;
        font-size: 28px;
        line-height: 38px;
        width: 100%;
        margin-top: 0;
    }
    .destination .destination-right-side .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .destination .destination-right-side .card-hr{
        width: 80%;
        margin-top: 50px;
    }
    .destination .destination-right-side .number-box{
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .destination .destination-right-side .number-box .header,.describtion{
        text-align: center;
    }
    
}
@media (max-width: 568px){
    .slider-container .container {
        top: 2%;
    
    }
    .destination .destination-left-side{
        margin-top: 10px;
    }
    .destination .destination-left-side img{
        width: 200px;
        margin-left: 0;
        margin-top: 2%;
    }
    .destination .destination-left-side p{
        text-align: center;
        margin-left: 0;
        font-size: 28px;

    }
    .destination .destination-left-side p .number{
        font-size: 28px;
    }
    .destination .detination-navbar ul{
        width: 50%;
        top: 39%;
        right: 25%;
    }
}
@media (max-width: 468px){

    .destination .destination-left-side{
        margin-top: 10px;
    }
    .destination .destination-left-side img{
        width: 170px;
        margin-left: 0;
        margin-top: 2%;
    }
    .destination .destination-left-side p{
        text-align: center;
        margin-left: 0;
    }
    .destination .detination-navbar ul{
        width: 70%;
        top: 35%;
        right: 15%;
    }
    .destination .destination-left-side p{
        text-align: center;
        margin-left: 0;
        font-size: 28px;

    }
    .destination .destination-left-side p .number{
        font-size: 28px;
    }
    .destination .destination-right-side .content-box p {
        font-size: 18px;
    }
    .destination .destination-right-side .number-box{
        flex-direction: column;
    }
    .destination .destination-right-side .number-box .number-card{
        margin-bottom: 25px;
    }
}